# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env
.venv/

# Build e Distribuição
dist/
build/
*.egg-info/

# Ignora todos os arquivos .pt
*.pt

# EXCETO os que estiverem na pasta weights do pacote
!src/mouse_tracker/weights/*.pt

# Arquivos de Vídeo e Dados (Evita subir vídeos pesados)
*.mp4
*.avi
*.mov
*.csv

# Conda
.conda/
